<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>MyFirstWebbProject</display-name>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GeneratePdf</display-name>
    <servlet-name>GeneratePdf</servlet-name>
    <servlet-class>GeneratePdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneratePdf</servlet-name>
    <url-pattern>/GeneratePdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GeneratePDF</display-name>
    <servlet-name>GeneratePDF</servlet-name>
    <servlet-class>GeneratePDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneratePDF</servlet-name>
    <url-pattern>/GeneratePDF</url-pattern>
  </servlet-mapping>
</web-app>